<h2><%= I18n.t('recovery_codes.download.title', {:scope => 'devise'}) %></h2>
<%= link_to I18n.t('recovery_codes.download.button', {:scope => 'devise'}),  "#{send("download_#{resource_name}_recovery_codes_path")}" %>
